<html>
<body>
<div class="sidebar">
  <div class="logo"></div>
  <ul class="menu">
    <li class="active">
      <a href="#" >
        <i class='fas fa-user'></i>
        <span>User</span>
      </a>
    </li>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <li>
      <a href="#">
        <i class="fas fa-user"></i>
        <span>Filter</span>
      </a>
    </li>
<!--    <li>-->
<!--      <a href="#">-->
<!--        <i class="fas fa-chart-bar"></i>-->
<!--        <span>Statistics</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="#">-->
<!--        <i class="fas fa-briefcase"></i>-->
<!--        <span>Careers</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="#">-->
<!--        <i class="fas fa-question-circle"></i>-->
<!--        <span>FAQ</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="#">-->
<!--        <i class="fas fa-star"></i>-->
<!--        <span>Testimonials</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="#">-->
<!--        <i class="fas fa-cog"></i>-->
<!--        <span>Settings</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="logout">-->
<!--      <a href="#">-->
<!--        <i class="fas fa-sign-out-alt"></i>-->
<!--        <span>Logout</span>-->
<!--      </a>-->
<!--    </li>-->
  </ul>
</div>
<div class="main--content">
  <div class="header--wrapper">
    <div class="header--title">
      <h2>User List</h2>
    </div>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">-->
    <div class="user--info">
<!--      <div-->
<!--        class="search&#45;&#45;box">-->
<!--    <i class="fa-solid-->
<!--    fa-search"></i>-->
<!--    <input type="text"-->
<!--    placeholder="search" />-->
<!--      </div>-->
<!--      <img src="./image/img.jpg" alt="" />-->
    </div>
  </div>

<!--  <div class="card&#45;&#45;container">-->
<!--    <h3 class="main&#45;&#45;title">Today's data</h3>-->
<!--    <div class="card&#45;&#45;wrapper">-->

<!--      <div class="payment&#45;&#45;card">-->
<!--        <div class="card&#45;&#45;header">-->
<!--          <div class="amount">-->
<!--            <span class="title">-->
<!--              payment amount</span>-->
<!--            <span class="amount&#45;&#45;value">$500.00</span>-->
<!--          </div>-->
<!--          <i class="fas fa-dollar-sign icon"></i>-->
<!--        </div>-->
<!--        <span class="card-detail">**** **** **** 3484</span>-->
<!--      </div>-->

<!--      <div class="payment&#45;&#45;card light-purple">-->
<!--        <div class="card&#45;&#45;header">-->
<!--          <div class="amount">-->
<!--            <span class="title">-->
<!--              payment Order</span>-->
<!--            <span class="amount&#45;&#45;value">$200.00</span>-->
<!--          </div>-->
<!--          <i class="fas fa-list icon dark-purple"></i>-->
<!--        </div>-->
<!--        <span class="card-detail">**** **** **** 5542</span>-->
<!--      </div>-->

<!--      <div class="payment&#45;&#45;card light-green">-->
<!--        <div class="card&#45;&#45;header">-->
<!--          <div class="amount">-->
<!--            <span class="title">-->
<!--              payment customer</span>-->
<!--            <span class="amount&#45;&#45;value">$350.00</span>-->
<!--          </div>-->
<!--          <i class="fas fa-users icon dark-green"></i>-->
<!--        </div>-->
<!--        <span class="card-detail">**** **** **** 8896</span>-->
<!--      </div>-->

<!--      <div class="payment&#45;&#45;card light-blue">-->
<!--        <div class="card&#45;&#45;header">-->
<!--          <div class="amount">-->
<!--            <span class="title">-->
<!--              payment proceed</span>-->
<!--            <span class="amount&#45;&#45;value">$150.00</span>-->
<!--          </div>-->
<!--          <i class="fa-solid fa-check icon dark-blue"></i>-->
<!--        </div>-->
<!--        <span class="card-detail">**** **** **** 7745</span>-->
<!--      </div>-->

<!--      <div class="payment&#45;&#45;card light-green">-->
<!--        <div class="card&#45;&#45;header">-->
<!--          <div class="amount">-->
<!--            <span class="title">-->
<!--              payment customer</span>-->
<!--            <span class="amount&#45;&#45;value">$350.00</span>-->
<!--          </div>-->
<!--          <i class="fas fa-users icon dark-green"></i>-->
<!--        </div>-->
<!--        <span class="card-detail">**** **** **** 8896</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="tabular&#45;&#45;wrapper">-->
<!--    <h3 class="main&#45;&#45;title">Finance data</h3>-->
<!--    <button type="button">Add New</button>-->
<!--    <div class="table-container">-->
<!--      <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>Data</th>-->
<!--          <th>Transaction Type</th>-->
<!--          <th>Description</th>-->
<!--          <th>Amount</th>-->
<!--          <th>Category</th>-->
<!--          <th>Status</th>-->
<!--          <th>Action</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--      <tr>-->
<!--        <td>2024-10-10</td>-->
<!--        <td>Expenses</td>-->
<!--        <td>Office Supplies</td>-->
<!--        <td>$250</td>-->
<!--        <td>Office Expenses</td>-->
<!--        <td>Pending</td>-->
<!--        <td><button>Edit</button></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>2024-10-10</td>-->
<!--        <td>Expenses</td>-->
<!--        <td>Office Supplies</td>-->
<!--        <td>$250</td>-->
<!--        <td>Office Expenses</td>-->
<!--        <td>Pending</td>-->
<!--        <td><button>Edit</button></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>2024-10-10</td>-->
<!--        <td>Expenses</td>-->
<!--        <td>Office Supplies</td>-->
<!--        <td>$250</td>-->
<!--        <td>Office Expenses</td>-->
<!--        <td>Pending</td>-->
<!--        <td><button>Edit</button></td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--        <tfoot>-->
<!--        <tr>-->
<!--          <td colspan="7">Total: $1,000</td>-->
<!--        </tr>-->
<!--        </tfoot>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--  <h1>Get Method</h1>-->
<!--  <p>{{getJsonValue | json}}</p>-->
  <div class="w-4/4 shadow-md p-10 bg-white shadow-blue-200/20 mx-36 my-10">
<div class="flex justify-between items-center">
<!--  <input type="text" placeholder="Search" class="w-full border p-2 rounded-lg" #filter (keyup)="filterData(filter.value)">-->
<!--  <select class="border p-2 rounded-lg" #pageSize (change)="changePageSize(pageSize.value)">-->
<!--    <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>-->
<!--  </select>-->
</div>


    <div class="dashboard-container">
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Body</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of userList">
          <td>{{ user.id }}</td>
          <td>{{ user.title }}</td>
          <td>{{ user.body }}</td>
        </tr>
        </tbody>
      </table>
    </div>



    <div class="mt-4 flex item-center justify-center">
    <button
      class="text-cyan-500 border-2 py-2 px-4 rounded-1-lg cursor-pointer mr-5"
    (click)="previousPage()"
    >Previous</button>

    <button
      *ngFor="let pageNumber of pageNumbers(); let i = index"
      class="py-2 px-4 cursor-pointer"
      [class.bg-cyan-500]="i+1 == currentPage"
      [class.text-white]="i+1 == currentPage"
      (click)="changePage(i+1)"
    > {{ i+1 }} </button>

    <button
      class="text-cyan-500 border-2 py-2 px-4 cursor-pointer rounded-r-lg ml-5"
      (click)="nextPage()"
    >Next</button>
  </div>
  </div>




</div>
</body>
</html>
